<%if accepted_friends.length>0%>	
	<div class="<%=custom_class%>">
		<div class="border-title">
			<%if check_current_profile_id.to_i==current_user.id%>
	    		<!-- <a href="<%=user_friends_path%>">FRIENDS (<span id="span_friends_count"></span>)</a> -->
	    		<h4>My Pokes (<%=UserFriend.total_friends_count(check_current_profile_id)%>)</h4>
	    	<%else%>
	    		<span id="span_mutual_friends">MUTUAL FRIENDS</span>
	    	<%end%>				
		</div>
		<div class="friends-listing">
			<div class="row">
				<%mutual_friends_count=0%>
				<% accepted_friends.each_with_index do |my_friend,counter| %>	
					<%target_user = my_friend.user%>
					<%if dont_check_if_friend or my_friends_id.include? target_user.id%>
			        	<%mutual_friends_count+=1%>
						<div class="col-md-<%=custom_class1%> col-sm-<%=custom_class1%> col-xs-<%=custom_class1%>">
							<div class="friends-listing-box">					
								<div class="col-md-4 col-sm-4 col-xs-4 p_z">
									<a class="profile-image" title="Profile Image" href="javascript:;">
										<%=image_tag(target_user.image_path, :alt=>"")%>
									</a>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-8 p_z">
									<div class="friends-details">
										<h3>
											<a href="<%=view_user_path(target_user)%>"><%=target_user.full_name(true)%>
										</a>
										</h3>
										<a href="javascript:;"><%=target_user.user_friends.find_all{|item| item.is_accepted==true}.length%> friends</a>
										<ul>
											<%unless target_user.relationship_interest_icon.nil?%>
												<li>
													<a href="javascript:;" style="cursor:default">						
														<%=image_tag(target_user.relationship_interest_icon)%>
													</a>
												</li>
											<%end%>
											<%unless target_user.team_icon.nil?%>
												<li>
													<a href="javascript:;" style="cursor:default">						
														<%=image_tag(target_user.team_icon, :title=>target_user.team_name)%>
													</a>
												</li>
											<%end%>
											<li>
												<a href="<%=message_conversation_user_message_path(current_user)%>?uid=<%= target_user.id%>">	
													<%=image_tag("/assets/message.png")%>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					<%end%>
				<%end%>
				<%if mutual_friends_count==0%>
		        	<script>
		        		$("#span_mutual_friends").hide();
		        	</script>
	        	<%end%>
	        </div>
	    </div>
	</div>
<%end%>
