<%= form_for(@group_message) do |f| %>
  <% if @group_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_message.errors.count, "error") %> prohibited this group_message from being saved:</h2>

      <ul>
      <% @group_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :group_user_id %><br />
    <%= f.hidden_field :group_user_id, :value=> current_user.id %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%#= f.label :is_deleted %><br />
    <%#= f.check_box :is_deleted %>
  </div>
  <%= f.hidden_field :group_id, :value=> @group.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
