<p id="notice"><%= notice %></p>

<p>
  <b>Group user:</b>
  <%= @group_message.group_user_id %>
</p>

<p>
  <b>Message:</b>
  <%= @group_message.message %>
</p>

<p>
  <b>Is deleted:</b>
  <%= @group_message.is_deleted %>
</p>


<%= link_to 'Edit', edit_group_message_path(@group_message) %> |
<%= link_to 'Back', group_messages_path %>
