<%= form_for(@user_friend) do |f| %>
  <% if @user_friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_friend.errors.count, "error") %> prohibited this user_friend from being saved:</h2>

      <ul>
      <% @user_friend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :friend_id %><br />
    <%= f.number_field :friend_id %>
  </div>
  <div class="field">
    <%= f.label :is_accepted %><br />
    <%= f.check_box :is_accepted %>
  </div>
  <div class="field">
    <%= f.label :request_message %><br />
    <%= f.text_field :request_message %>
  </div>
  <div class="field">
    <%= f.label :is_deleted %><br />
    <%= f.check_box :is_deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
