<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @profile_like.user_id %>
</p>

<p>
  <b>Liker:</b>
  <%= @profile_like.liker_id %>
</p>

<p>
  <b>Is deleted:</b>
  <%= @profile_like.is_deleted %>
</p>


<%= link_to 'Edit', edit_profile_like_path(@profile_like) %> |
<%= link_to 'Back', profile_likes_path %>
