<div class="chat-section">
    <div class="chat active-chat has-nicescroll" data-chat="person1">
         <% user_messages.each do |user_message| %>
            <%user = user_message.user%>
              <% if user_message.user_id == current_user.id %>
                <div class="bubble you">
                    <a class="user" href="#">
                        <!-- <img alt="" src="images/msg-pic/img_1.jpg"> -->
                        <%= image_tag(user.image_path, :width => 100, :height => 100) %>
                    </a>
                    <div class="name">
                        <h5><%= user.full_name%></h5>
                    </div>
                    <div class="person-chat">
                        <span>
                           <%=user_message.message%>
                        </span>
                    </div>
                    <div class="date">
                        <i><%=user_message.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %I:%M%P.")%></i>
                    </div>
                </div>
             <% else %>
                <div class="bubble me">
                    <a class="user" href="#">
                       <!--  <img alt="" src="images/msg-pic/img_2.jpg"> -->
                        <%= image_tag(user.image_path, :width => 100, :height => 100) %>
                    </a>
                    <div class="name">
                        <h5><%= user.full_name%></h5>
                    </div>
                    <div class="person-chat">
                        <span>
                            <%=user_message.message%>
                        </span>
                    </div>
                    <div class="date">
                        <i><%=user_message.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %I:%M%P.")%></i>
                    </div>
                </div>
             <% end %>
       <% end %> 
    </div>
</div>

<!-- /.chat-section -->


<%= render 'message_form' %>

<script type="text/javascript">
  <% publish_to message_conversation_user_message_path(@conversation.id) do %>
    <% if @user_messages.any? && from_partial%>
        $(".commentList.chat").append("<%= j render :partial => 'user_messages/conversation_message', :locals =>{:user_message => @user_message} %>");
    <% end %>
  <% end %>
</script>
