<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_message.user_id %>
</p>

<p>
  <b>Message:</b>
  <%= @user_message.message %>
</p>

<p>
  <b>Is deleted:</b>
  <%= @user_message.is_deleted %>
</p>


<%= link_to 'Edit', edit_user_message_path(@user_message) %> |
<%= link_to 'Back', user_messages_path %>
