<h1>Listing pokemongo_teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Is deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pokemongo_teams.each do |pokemongo_team| %>
  <tr>
    <td><%= pokemongo_team.name %></td>
    <td><%= pokemongo_team.is_deleted %></td>
    <td><%= link_to 'Show', pokemongo_team %></td>
    <td><%= link_to 'Edit', edit_pokemongo_team_path(pokemongo_team) %></td>
    <td><%= link_to 'Destroy', pokemongo_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pokemongo team', new_pokemongo_team_path %>
